/*navigace------------------------------------------------------------------------------*/
.menu ul{
    list-style-type: none;
    list-style: none;
    overflow: hidden;
    justify-content: center;
    background-color: var(--sl-color-primary-1);
    color: var(--sl-text-color-1);
    padding: var(--space-0);
    margin: var(--margin-0);
    

}

.menu ul li{
    float: left;
}

.menu ul li a{
    padding: var(--space-3) var(--space-3);
    display: inline-flex;
    text-align: center;
    align-items: center;  
    text-decoration: none;
    color: var(--sl-color-neutral-1);
    
}

.menu ul li a:hover{
    background-color: var(--sl-color-primary-3);
    color: var(--sl-color-neutral-1);

}

.menu ul li a.active{
    background-color: var(--sl-color-primary-2);  
    color: var(--sl-text-color-2) 
}

.menu img{
  
  height: 1.5rem;
  width: 1.5rem;
  margin-right: var(--margin-2);

}

/*navigace------------------------------------------------------------------------------*/

/*Tlačítko----------------------------------------------------------*/

.button {
  border: none;
  color: var(--sl-text-color-2);
  background-color: var(--sl-color-primary-2);
  padding: var(--space-3) var(--space-4);
  text-align: center;
  text-decoration: none;
  font-size: var(--font-size-xs);
  border-radius: var(--border-radius-1);
  outline: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button a{
  text-decoration: none;

}

/*Tlačítko----------------------------------------------------------*/

.box {
  border:var(--border-1);
  border-radius: var(--border-radius-1); 
  flex: 1;                        
  background-color: var(--sl-color-primary-1); 
  color: var(--sl-text-color-1);     
  padding: var(--space-2);
  text-align: center; 
}

.box ul{
    text-align: left;
}