.container {
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-2);
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    gap: var(--space-2);
  }
  
  } 

footer{
    bottom: var(--space-0);
    width:calc(var(--width-100)- 2*var(--space-3));
    background-color: var(--sl-color-primary-1);
    color: var(--sl-text-color-1);
}