/*Kontakty--------------------------------------------------------*/
iframe{
 width:calc(100% - (var(--space-2)*2));
 height:calc(var(--space-6)*7);
 padding: var(--space-2);
 border: var(--space-0);
  
}

/*Galerie--------------------------------------------------------*/

.gallery {
  display: grid;
  gap: var(--space-2);
  grid-template-columns: repeat(auto-fit, minmax(15.5rem, 1fr));
  padding: 20px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: var(--border-radius-1);
}

.gallery img:hover{
     transform: scale(1.03);
}