
.gallery {
  display: grid;
  gap: var(--space-2);
  grid-template-columns: repeat(auto-fit, minmax(15.5rem, 1fr));
  padding: 20px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* zachová poměr stran */
  border-radius: var(--space-2);
}

.gallery img:hover{
     transform: scale(1.03);
}