 .menu {
    background-color: var(--sl-color-primary-1);
    color: var(--sl-text-color-1);
    display: flex;
    align-items: center;
    position: relative; 
    padding: 2rem;

  }


  /* Hamburger */
  .hamburger {
    width: var(--space-5);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
    
  }

  .hamburger span {
    height: 3px;
    background: var(--sl-color-neutral-1);
    width: 100%;
    transition: .3s;
    
  }

  /* Menu */
  .menu__list {
    list-style: none;
    display: flex;
  }

  .menu__link {
    color: var(--sl-color-neutral-1);
    text-decoration: none;
    display: block;
  }

  .menu__logo{
  
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 2rem;

}
.menu__link:hover {
  background-color: var(--sl-color-primary-3);
  color: var(--sl-color-neutral-1);
}

.menu__link.active {
  background-color: var(--sl-color-primary-2) !important;  
  color: var(--sl-text-color-2) 
}

  /* Mobilní verze: menu přes celou šířku */
  @media (max-width: 700px) {
    .menu__list {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      flex-direction: column;
      background: var(--sl-color-primary-1);
      display: none;
      margin: 0;
      padding: 0;
    }

    .menu__list.open {
      display: block;
    }

    .menu__item {
      width: 100%;
    }

    .menu__link {
      padding: 0;
      width: 100%;
      text-align: center;
      padding: 2rem;
      display: inline-flex;
      align-items: center;
    }
  }

  /* Desktop verze: hamburger skryt, menu vedle sebe */
  @media (min-width: 768px) {
    .hamburger {
      display: none;
    }
    .menu{
      padding: 0;
    }
    

    
    .menu__list {
      list-style-type: none;
      list-style: none;
      justify-content: center;
      margin: var(--space-0);
      display: flex;
      padding: 0;
    }

    .menu__link {
      display: inline-flex;
      align-items: center;  
      text-decoration: none;
      color: var(--sl-color-neutral-1); 
      padding: 2rem;
      text-align: center;
    }
  }