.flex{
  display: flex;
}

.p-0{
  padding: var(--space-0);
}
.p-1{
  padding: var(--space-1);
}

.p-2{
  padding: var(--space-2);
}

.p-3{
  padding: var(--space-3);
}

.p-4{
  padding: var(--space-4);
}

.p-5{
  padding: var(--space-5);
}

.relative{
  position: relative;
}

.text-center{
  text-align: center;
}
